<div style="width: 100%; display: flex; flex-direction: column; align-items: center">
  <div style="max-width: 800px; width: 100%; text-align: justify">
    <app-cf-simple-header (click)="onHeaderLogoClicked()" [mHeader]="'About'"></app-cf-simple-header>
    <div style="height: 5px"></div>
    <p>
      Cipherforge, created by <a href="https://www.qrclip.io" target="_blank">QRClip</a>, provides a practical solution for secure offline data storage. This app combines QR code technology with robust encryption, offering a dependable method for encoding and decoding information. With Cipherforge, your data is not only protected but can also be conveniently printed for offline storage. We are committed to ensuring accessibility and security, making Cipherforge available to all users free of charge.
    </p>
    <p>
      To further enhance transparency and trust, Cipherforge is open-source. If you wish to compile it yourself or contribute to its development, please visit our <a href="https://github.com/qrclip/cipherforge" target="_blank">GitHub repository</a>.
    </p>

    <p>
      For additional information about Cipherforge and other QRClip services, please visit our official <a href="https://www.qrclip.io" target="_blank">QRClip website</a>. If you require assistance, our support team is ready to help.
    </p>
    <div style="height: 20px"></div>
    <h2>Learn More About Cipherforge</h2>
    <p>
      Interested in understanding how Cipherforge operates? Dive into our blog post that elucidates the QR code technology and encryption methods at the heart of Cipherforge, and discover how they collaboratively ensure the safety of your data.
    </p>
    <p>
      <a href="https://www.qrclip.io/blog/cipherforge-encrypted-qr-code-data-storage-system" target="_blank"
      >
      Read more here: Cipherforge Blog Post
      </a>
    </p>
    <div style="height: 20px"></div>
  </div>
</div>
