<ng-container [ngSwitch]="mUIState">
  <!--ENCODE FORM-->
  <ng-container *ngSwitchCase="'form'">
    <span class="flex-auto">
      <label class="font-bold block mb-2" for="operations">Template</label>
      <div class="p-fluid" style="width: 100%; min-width: 300px">
        <p-dropdown
          appendTo="body"
          [options]="mTemplates"
          class="w-full"
          optionLabel="name"
          [(ngModel)]="mSelectedTemplate"
          (onChange)="onTemplateChanged()"></p-dropdown>
      </div>
    </span>

    <div style="height: 20px"></div>

    <span class="flex-auto">
      <label class="font-bold block mb-2" for="operations">Operations</label>
      <div style="height: 10px"></div>
      <p-slider [(ngModel)]="mCipherforgePassLevel.ops" class="w-full" [min]="1" [max]="100" id="operations"></p-slider>
    </span>

    <div style="height: 20px"></div>

    <span class="flex-auto">
      <label class="font-bold block mb-2" for="memory">Memory</label>
      <div style="height: 10px"></div>
      <p-slider [(ngModel)]="mCipherforgePassLevel.mem" class="w-full" [min]="1" [max]="100" id="memory"></p-slider>
    </span>

    <div style="height: 20px"></div>
    <div class="cf-last-test-seconds">{{ mLastTestLabel }}</div>
    <button
      pButton
      pRipple
      label="TEST"
      type="button"
      class="p-button-outlined"
      style="width: 100%"
      aria-label="TEST"
      (click)="onTest()"></button>

    <div style="height: 40px"></div>

    <button
      pButton
      pRipple
      label="OK"
      type="button"
      class="p-button"
      style="width: 100%"
      aria-label="OK"
      (click)="onOK()"></button>
  </ng-container>

  <!--WORKING-->
  <ng-container *ngSwitchCase="'working'">
    <div class="cf-progress-spinner-container">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-container>
</ng-container>
