.p-splitbutton-menubutton {
  border-radius: 0 6px 6px 0;
}

.p-splitbutton-defaultbutton {
  border-radius: 6px 0 0 6px;
}

.p-progressbar-determinate .p-progressbar-value-animate {
  transition: width 0.3s ease-in-out;
}
