.cf-qrclip-branding {
  font-size: 0.9rem;
  width: 100%;
  opacity: 0.33;
  display: flex;
  gap:20px;
  flex-direction: column;
  align-items: center;
}

.cf-qrclip-branding-links {
  display: flex;
  gap: 20px;
}
